@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
/* styles */
.home{
    color: #FEA301;
}
.about{
    color: #01ACFD;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}

/* Banner styles */
.title-1{
    color: #FEA301;
}
.title-2{
    color:#01ACFD;
}
.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    gap: 50px;
}



/* nabar styles */
.name{
    font-weight: bold;
    font-size: 2rem;
}
.logo{
    display: flex;
    align-items: center;
}
.school{
    font-size: 2rem;
    font-weight: bold;

}

.navbar{
   justify-content: space-around;
   align-items: center;
   
}


.nav-item{
  list-style: none;
  margin-right: 32px;
  margin-top: 13px;
}
.nav-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}
 /* button styles */
.btn-1{
    padding: 10px 10px;
    background-color: #FEA301;
    color: white;
    border-color: #FEA301;
    border-radius: 12px;
    width: 195px;
    height: 50px;
    margin-left: 185px;
    border: none;
}
.btn-primary{
    background-color: #111111;
    height: 50px;
    width: 195px;
    padding: 10px 10px;
    border-radius: 12px;
    color: white;
    margin-top: 10px;
}


/* Responsive */
@media screen and (max-width:576px){
    .banner{
        flex-direction:column-reverse;
    }
    .nav-links{
        display: hide;
    }
}
